.zwEcharts{ position: relative; height: 100%; width: 100%;  }
.zwEcharts .mainChartDom{height: 100%; width: 100%; }
.zwEcharts .chartNoData{ text-align: center; font-size: 20px; height: 100%; width: 100%;}
.zwEcharts .charthotMap .BMap_mask,.zwEcharts .charthotMap canvas{ cursor: pointer;}

.zwChartTableBox{ position: relative; height: 100%; width: 100%; overflow: hidden;  }
.zwChartTableHead{ position: absolute; height: 39px; top:0 ; left: 0; width: 100%;
    background: #f1f1f1; z-index: 10000;  }
.zwChartTableBox .zwChartTableHead li{ float: left; height: 39px; line-height: 39px; font-weight: bold;
    font-size: 1.1em; padding-left: 20px; }
.zwChartTableBox .table{ border: none; margin-bottom: 10px; min-width: 100%;}
.zwChartTableBox .table td>div{padding: 10px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    max-width: 400px; }
.zwChartTableBox .table td>div span{ display: inline-block; max-width: 100%}
.zwChartTableBox .iScrollVerticalScrollbar{ right: 1px !important;}
